## **Analyzing borrowers’ risk of defaulting**

# Introduction

In this project, I'll evalute if a customer's details affect their ability to pay a loan. I'll study data on client information to test the hypotheses below and provide my report for credit score building.

# Goal:
Test four hypotheses:
1. Is there a connection between having kids and repaying a loan on time?
2. Is there a connection between marital status and repaying a loan on time?
3. Is there a connection between income level and repaying a loan on time?
4. How do different loan purposes affect on-time loan repayment?

## Open the data file and have a look at the general information.

In [3]:
# Loading all the libraries
import pandas as pd

# Load the data
try:
    df = pd.read_csv('credit_scoring_eng.csv')
except:
    df = pd.read_csv('/datasets/credit_scoring_eng.csv')

## Task 1. Data exploration

**Description of the data**
- `children` - the number of children in the family
- `days_employed` - work experience in days
- `dob_years` - client's age in years
- `education` - client's education
- `education_id` - education identifier
- `family_status` - marital status
- `family_status_id` - marital status identifier
- `gender` - gender of the client
- `income_type` - type of employment
- `debt` - was there any debt on loan repayment
- `total_income` - monthly income
- `purpose` - the purpose of obtaining a loan

In [4]:
# Let's see how many rows and columns our dataset has
print(df.shape)

(21525, 12)

In [5]:
# let's print the first 5 rows
df.head(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,bachelor's degree,0,married,0,F,employee,0,40620.102,purchase of the house
1,1,-4024.803754,36,secondary education,1,married,0,F,employee,0,17932.802,car purchase
2,0,-5623.422610,33,Secondary Education,1,married,0,M,employee,0,23341.752,purchase of the house
3,3,-4124.747207,32,secondary education,1,married,0,M,employee,0,42820.568,supplementary education
4,0,340266.072047,53,secondary education,1,civil partnership,1,F,retiree,0,25378.572,to have a wedding

There are typos in the 'education' column, some names are uppercase, some are lowercase.  The 'days employed' should be 'int' type and not 'float'. The 'purpose' column items should be shortened.

In [6]:
# Get info on data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

We can see that there are missing values in the 'days_employed' and 'total_income' columns.

In [7]:
# Let's look at the filtered table with missing values in the the first column with missing data
df[df['days_employed'].isna()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

From the data sample above, one can learn that clients who did not fill in the days_employed also did not fill in the total_income column. This conclusion should be further invistigated by counting if the number of missing values in the days_employed column equals to the number of missing values in the data frame filtered for 'NaN' in both columns (the number of missing values in both the days_employed & total_income columns).

In [8]:
# Let's apply multiple conditions for filtering data and look at the number of rows in the filtered table.
len(df[df['days_employed' and 'total_income'].isna()])

2174

In [9]:
df[df['days_employed' and 'total_income'].isna()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,secondary education,1,civil partnership,1,M,retiree,0,NaN,to have a wedding
26,0,NaN,41,secondary education,1,married,0,M,civil servant,0,NaN,education
29,0,NaN,63,secondary education,1,unmarried,4,F,retiree,0,NaN,building a real estate
41,0,NaN,50,secondary education,1,married,0,F,civil servant,0,NaN,second-hand car purchase
55,0,NaN,54,secondary education,1,civil partnership,1,F,retiree,1,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Secondary Education,1,married,0,M,business,0,NaN,purchase of a car
21495,1,NaN,50,secondary education,1,civil partnership,1,F,employee,0,NaN,wedding ceremony
21497,0,NaN,48,BACHELOR'S DEGREE,0,married,0,F,business,0,NaN,building a property
21502,1,NaN,42,secondary education,1,married,0,F,employee,0,NaN,building a real estate
21510,2,NaN,28,secondary education,1,married,0,F,employee,0,NaN,car purchase

**Intermediate conclusion**

The number of rows in the filtered table (missing values in both the days_employed & total_income columns) matches the number of missing values in days_employed column.

Ten Percent of the whole data set is missing values. This is a considerably large piece of data and therefore we would want to fill in the missing values. 

There might be a correlation beween the income_type and missing values in the columns we have checked above. A few reasons for that could be as following:
1. Retirees who do not have income from employment, but through pension fund. Hence, dependant on how the question was phrased, they did not mention income which is not based on labour. 
2. Students who do not work, and therefore skip the employement questions.
3. Civil Servants who are not allowed to disclose information on their employment such as income and years of experience.
4. Businessmen have variable income and the years of expertise is not relevant in their field since they work on different income streams.

Secondly, we should check whether there's any dependence missing values have on the level of education. There might be a connection between "lower" education level (secondary education) and not revealing their income or years of experience. Causes for that can include:
1. Lower level of education can lead to lower-paying jobs.
2. Lower level of education can lead to less stable employment.
3. Lower level of education as the client is in obtaining further education at the moment and does not have a job.

My first analysis would be to check if there is a correlation between education and missing values.

In [10]:
# Let's investigate clients who do not have data on identified characteristic and the column with the missing values
df_miss=df[df['days_employed'].isna()]
df_miss['education'].value_counts()

secondary education    1408
bachelor's degree       496
SECONDARY EDUCATION      67
Secondary Education      65
some college             55
Bachelor's Degree        25
BACHELOR'S DEGREE        23
primary education        19
Some College              7
SOME COLLEGE              7
Primary Education         1
PRIMARY EDUCATION         1
Name: education, dtype: int64

In [11]:
#Distribution of missing values by education
perc = df_miss['education'].value_counts()/df_miss['education'].count()*100
print(perc)

secondary education    64.765409
bachelor's degree      22.815087
SECONDARY EDUCATION     3.081877
Secondary Education     2.989880
some college            2.529899
Bachelor's Degree       1.149954
BACHELOR'S DEGREE       1.057958
primary education       0.873965
Some College            0.321987
SOME COLLEGE            0.321987
Primary Education       0.045998
PRIMARY EDUCATION       0.045998
Name: education, dtype: float64

**Possible reasons for missing values in data**

Secondary education (in all different spellings) constitues 70% of education in clients with missing data. We can conclude that missing values probably have a pattern and in order to examine this hypothesis, we should look at the distribution of education in the whole dataset.

In [12]:
# Checking the distribution in the whole dataset
df['education'].value_counts()/df['education'].count()*100

secondary education    63.879210
bachelor's degree      21.918699
SECONDARY EDUCATION     3.586527
Secondary Education     3.303136
some college            3.103368
BACHELOR'S DEGREE       1.272938
Bachelor's Degree       1.245064
primary education       1.161440
Some College            0.218351
SOME COLLEGE            0.134727
PRIMARY EDUCATION       0.078978
Primary Education       0.069686
graduate degree         0.018583
Graduate Degree         0.004646
GRADUATE DEGREE         0.004646
Name: education, dtype: float64

**Intermediate conclusion**

The disribution of education in the original dataset is similar to the filtered table. Hence we cannot conclude that there is a correlarion between level of education and missing values in the dataset.

Next, I would like to review if there is a connection between income type and missing information.

In [13]:
# Check for income type and missing values distribution
df_miss['income_type'].value_counts()/df_miss['income_type'].count()*100

employee         50.827967
business         23.367065
retiree          18.997240
civil servant     6.761730
entrepreneur      0.045998
Name: income_type, dtype: float64

In [14]:
# distribution of income type in the dataset
df['income_type'].value_counts()/df['income_type'].count()*100

employee                       51.656214
business                       23.623693
retiree                        17.914053
civil servant                   6.778165
unemployed                      0.009292
entrepreneur                    0.009292
student                         0.004646
paternity / maternity leave     0.004646
Name: income_type, dtype: float64

**Intermediate conclusion**

Looking at the distribution - No correlation beetween income types and missing values.
Last, we are going to review descriptive statistics to see if there is a connection to age.

In [15]:
df_miss['dob_years'].describe()

count    2174.000000
mean       43.632015
std        12.531481
min         0.000000
25%        34.000000
50%        43.000000
75%        54.000000
max        73.000000
Name: dob_years, dtype: float64

In [16]:
df['dob_years'].describe()

count    21525.000000
mean        43.293380
std         12.574584
min          0.000000
25%         33.000000
50%         42.000000
75%         53.000000
max         75.000000
Name: dob_years, dtype: float64

**Conclusions**

Finally, after investigating education level, income type and age, we found no relationship to missing values.

I would like to fill in the missed values later in my analysis with mean (or median) of the relevant categories. 

In our next chapter, I am going to transform data as it follows:
1. Remove duplicates
2. Fix typos
3. Fill in missing values

## Data transformation

In [17]:
# Let's see all values in education column to check if and what spellings will need to be fixed
df['education'].unique()

array(["bachelor's degree", 'secondary education', 'Secondary Education',
       'SECONDARY EDUCATION', "BACHELOR'S DEGREE", 'some college',
       'primary education', "Bachelor's Degree", 'SOME COLLEGE',
       'Some College', 'PRIMARY EDUCATION', 'Primary Education',
       'Graduate Degree', 'GRADUATE DEGREE', 'graduate degree'],
      dtype=object)

In [18]:
df['education'] = df['education'].replace("BACHELOR'S DEGREE",'bachelor\'s degree')
df['education'] = df['education'].replace('Secondary Education','secondary education')
df['education'] = df['education'].replace('SECONDARY EDUCATION','secondary education')
df['education'] = df['education'].replace("Bachelor's Degree",'bachelor\'s degree')
df['education'] = df['education'].replace('SOME COLLEGE', 'Some College')
df['education'] = df['education'].replace('PRIMARY EDUCATION','primary education')
df['education'] = df['education'].replace('Primary Education','primary education') 
df['education'] = df['education'].replace('Some College','some college') 
df['education'] = df['education'].replace('GRADUATE DEGREE','graduate degree') 
df['education'] = df['education'].replace('Graduate Degree','graduate degree')

In [99]:
# Fix the registers 
df['education'] = df['education'].str.lower()

In [100]:
# Checking all the values in the column to make sure we fixed them
df['education'].unique()

array(["bachelor's degree", 'secondary education', 'some college',
       'primary education', 'graduate degree'], dtype=object)

In [21]:
# Let's see the distribution of values in the `children` column
df['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

There are two concerns in this column:
1. Negative number of children (unfeasible)
2. Customers with twenty kids (feasible but unlikely)

Since the percentage of troublesome data is around half percent, and the column is not the main variable of interest. We will drop these rows.

In [22]:
# [fix the data based on your decision]
df = df.drop(df[df['children']==20].index)
df = df.drop(df[df['children']==-1].index)

In [23]:
# Checking the `children` column again to make sure it's all fixed
df['children'].value_counts()

0    14149
1     4818
2     2055
3      330
4       41
5        9
Name: children, dtype: int64

In [24]:
# Find problematic data in `days_employed`, if they exist, and calculate the percentage
df['days_employed'].describe()

count     19240.000000
mean      63159.820777
std      140928.943329
min      -18388.949901
25%       -2747.235601
50%       -1203.934202
75%        -289.740178
max      401755.400475
Name: days_employed, dtype: float64

We have many negative values which probably got a minus sign due to a technical mistake. I propose to transform the values to a positive sign (+).

In [25]:
# Address the problematic values, if they exist
df.loc[df['days_employed']<0, 'days_employed'] = df.loc[df['days_employed']<0, 'days_employed']*(-1)

In [26]:
# Check the result - make sure it's fixed
df['days_employed'].describe()

count     19240.000000
mean      67027.691459
std      139130.846446
min          24.141633
25%         927.984311
50%        2195.251592
75%        5556.372075
max      401755.400475
Name: days_employed, dtype: float64

Let's now look at the client's age and whether there are any issues there. I am planning on cheking how many clients are below the legal age.

In [27]:
# Check the `dob_years` for suspicious values and count the percentage
df[df['dob_years']<18]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
99,0,346541.618895,0,secondary education,1,married,0,F,retiree,0,11406.644,car
149,0,2664.273168,0,secondary education,1,divorced,3,F,employee,0,11228.230,housing transactions
270,3,1872.663186,0,secondary education,1,married,0,F,employee,0,16346.633,housing renovation
578,0,397856.565013,0,secondary education,1,married,0,F,retiree,0,15619.310,construction of own property
1040,0,1158.029561,0,bachelor's degree,0,divorced,3,F,business,0,48639.062,to own a car
...,...,...,...,...,...,...,...,...,...,...,...,...
19829,0,NaN,0,secondary education,1,married,0,F,employee,0,NaN,housing
20462,0,338734.868540,0,secondary education,1,married,0,F,retiree,0,41471.027,purchase of my own house
20577,0,331741.271455,0,secondary education,1,unmarried,4,F,retiree,0,20766.202,property
21179,2,108.967042,0,bachelor's degree,0,married,0,M,business,0,38512.321,building a real estate
21313,0,1268.487728,0,secondary education,1,unmarried,4,M,employee,0,24387.070,housing transactions

In [28]:
df['dob_years'].describe()

count    21402.000000
mean        43.300206
std         12.579055
min          0.000000
25%         33.000000
50%         42.000000
75%         53.000000
max         75.000000
Name: dob_years, dtype: float64

The problem in this column are the rows with dob_years equals to 0. There are 100 problematic items, which are sround 0.5% of the whole dataset.

In [29]:
# Address the issues in the `dob_years` column, if they exist
df.loc[df['dob_years']==0, 'dob_years'] = df['dob_years'].mean()

In [30]:
# Check the result - make sure it's fixed
df[df['dob_years']<18]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

Now let's check the `family_status` column.

In [31]:
# Let's see the values for the column
df['family_status'].unique()

array(['married', 'civil partnership', 'widow / widower', 'divorced',
       'unmarried'], dtype=object)

In [32]:
df['family_status'].value_counts()

married              12302
civil partnership     4160
unmarried             2799
divorced              1189
widow / widower        952
Name: family_status, dtype: int64

No issues with family status.

Now let's check the `gender` column:

In [33]:
df['gender'].unique()

array(['F', 'M', 'XNA'], dtype=object)

In [34]:
df['gender'].value_counts()

F      14154
M       7247
XNA        1
Name: gender, dtype: int64

Three genders as expected in forms, no issues.

Now let's check the `income_type` column:

In [35]:
df['income_type'].value_counts()

employee                       11050
business                        5054
retiree                         3839
civil servant                   1453
unemployed                         2
entrepreneur                       2
student                            1
paternity / maternity leave        1
Name: income_type, dtype: int64

In [36]:
df['income_type'].unique()

array(['employee', 'retiree', 'business', 'civil servant', 'unemployed',
       'entrepreneur', 'student', 'paternity / maternity leave'],
      dtype=object)

No problems in the income_type column.

Now let's see if we have any duplicates in our data.

In [37]:
# Checking duplicates
df[df.duplicated()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
2849,0,NaN,41.0,secondary education,1,married,0,F,employee,0,NaN,purchase of the house for my family
3290,0,NaN,58.0,secondary education,1,civil partnership,1,F,retiree,0,NaN,to have a wedding
4182,1,NaN,34.0,bachelor's degree,0,civil partnership,1,F,employee,0,NaN,wedding ceremony
4851,0,NaN,60.0,secondary education,1,civil partnership,1,F,retiree,0,NaN,wedding ceremony
5557,0,NaN,58.0,secondary education,1,civil partnership,1,F,retiree,0,NaN,to have a wedding
...,...,...,...,...,...,...,...,...,...,...,...,...
20702,0,NaN,64.0,secondary education,1,married,0,F,retiree,0,NaN,supplementary education
21032,0,NaN,60.0,secondary education,1,married,0,F,retiree,0,NaN,to become educated
21132,0,NaN,47.0,secondary education,1,married,0,F,employee,0,NaN,housing renovation
21281,1,NaN,30.0,bachelor's degree,0,married,0,F,employee,0,NaN,buy commercial real estate
21415,0,NaN,54.0,secondary education,1,married,0,F,retiree,0,NaN,housing transactions

In [38]:
# remove duplicates
df = df.drop_duplicates().reset_index(drop=True)

In [39]:
# Last check whether we have any duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [40]:
# Check the size of the dataset that you now have after your first manipulations with it
print(df.shape)

(21331, 12)

New dataset, the changes done:
1. Education - typos fixed
2. Children - dropped 0.5% of the data due to unfeasible values
3. Days employed - problematic values were corrected
4. DOB years - fill in average age for age = 0 (0.5%)
5. Duplicate values - dropped 0.3% of data due to duplicates

Overall, 194 rows were dropped which is less than 1%.

## Working with missing values

Find the dictionaries
The dictionaries with ID are education and family status.

In [41]:
df['education'].value_counts()

secondary education    15075
bachelor's degree       5227
some college             741
primary education        282
graduate degree            6
Name: education, dtype: int64

In [42]:
df['education_id'].value_counts()

1    15075
0     5227
2      741
3      282
4        6
Name: education_id, dtype: int64

# Education
    1: secondary education
    2: bachalor's degree
    3: some college
    4: primary education
    5: graduate degree

In [43]:
df['family_status'].value_counts()

married              12261
civil partnership     4134
unmarried             2796
divorced              1189
widow / widower        951
Name: family_status, dtype: int64

In [44]:
df['family_status_id'].value_counts()

0    12261
1     4134
4     2796
3     1189
2      951
Name: family_status_id, dtype: int64

# Family Status
    1: married
    2: civil partenership
    3: unmarried
    4: divorced
    5: widow/widower

### Restoring missing values in `total_income`

There are two columns with missing values: days_employed & total_income. I will substitute the values with median/average of the column for the category the row fits in.  

I will begin with addressing total income missing values by creating a function that calculates the age category of the client.

In [125]:
# categorizing age 
def age_category_2(age):
        if age < 20:
            return ('teenager')
        else:
            first_digit = age // 10
            return f'{first_digit}0s'

In [126]:
# Test if the function works
age_category(29), age_category(72), age_category(36)

('20s', '70s', '30s')

In [104]:
# Creating new column based on function
df['age_group'] = df['dob_years'].apply(age_category)

In [127]:
# Checking how values in the new column
df['age_group']

0        40s
1        30s
2        30s
3        30s
4        50s
        ...
21326    40s
21327    60s
21328    30s
21329    30s
21330    40s
Name: age_group, Length: 21331, dtype: object

Income depends on type, gender, education and age. We will use the average or the median value of these categorys' income based on the distribution.

In [106]:
# Create a table without missing values and print a few of its rows to make sure it looks fine
df_no_mv = df[df['total_income'].notna()]
df_no_mv = df_no_mv[df_no_mv['days_employed'].notna()]
df_no_mv.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
age_group           0
purpose_categroy    0
income_group        0
dtype: int64

I will be reviewing the income type differences based on the following factors (mean+median):
1. Age group
2. Education
3. Gender
4. Income type

In [107]:
# Look at the mean values for income based on your identified factors
df_no_mv.groupby('age_group')['total_income'].mean()

age_group
20s         25330.072153
30s         27987.804690
40s         28138.685481
50s         25477.925650
60s         22902.052468
70s         20097.386929
teenager    16821.212071
Name: total_income, dtype: float64

In [108]:
# Look at the median values for income based on your identified factors
df_no_mv.groupby('age_group')['total_income'].median()

age_group
20s         22444.2565
30s         24208.4100
40s         24226.0485
50s         22504.9395
60s         19260.4345
70s         18358.5970
teenager    14817.5910
Name: total_income, dtype: float64

In [109]:
df_no_mv.groupby('education')['total_income'].mean()

education
bachelor's degree      32282.144751
graduate degree        27960.024667
primary education      21232.990957
secondary education    24443.129423
some college           28544.630711
Name: total_income, dtype: float64

In [110]:
df_no_mv.groupby('education')['total_income'].median()

education
bachelor's degree      27184.2910
graduate degree        25161.5835
primary education      19516.6845
secondary education    22331.6300
some college           24964.0520
Name: total_income, dtype: float64

In [111]:
df_no_mv.groupby('gender')['total_income'].mean()

gender
F      24515.186440
M      30260.479342
XNA    32624.825000
Name: total_income, dtype: float64

In [112]:
df_no_mv.groupby('gender')['total_income'].median()

gender
F      22087.1710
M      26008.6225
XNA    32624.8250
Name: total_income, dtype: float64

In [113]:
df_no_mv.groupby('income_type')['total_income'].mean()

income_type
business                       31974.506511
civil servant                  27005.266945
employee                       25524.762200
entrepreneur                   79866.051500
paternity / maternity leave     8612.661000
retiree                        21664.392323
student                        15712.260000
unemployed                     21014.360500
Name: total_income, dtype: float64

In [114]:
df_no_mv.groupby('income_type')['total_income'].median()

income_type
business                       28138.8950
civil servant                  24387.3330
employee                       23126.2980
entrepreneur                   79866.0515
paternity / maternity leave     8612.6610
retiree                        19024.2765
student                        15712.2600
unemployed                     21014.3605
Name: total_income, dtype: float64

In [115]:
df_no_mv['total_income'].describe()

count     21331.000000
mean      26465.050003
std       15732.435115
min        3306.762000
25%       17199.350500
50%       23158.689000
75%       31334.809500
max      362496.645000
Name: total_income, dtype: float64

The biggest differences in income were found in the income type and age categories columns. I am going to use median since there are outliers in the dataset.

In [116]:
def fill_missing_values(fill_col, fill_value, cat_1, cat_2):
    df[fill_col] = df[fill_col].fillna(df.groupby([cat_1 , cat_2])[fill_col].transform(fill_value))


fill_missing_values(fill_col='total_income', fill_value='median', cat_1='income_type', cat_2='age_group')

In [117]:
# Check if we got any errors
fill_col='total_income'
df[fill_col].isna().sum()

0

In [118]:
df[df[fill_col].isna()]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose, age_group, purpose_categroy, income_group]
Index: []

This row is sill NaN in total income column. The reason for that is the function could not find other entries with the same age group and income type to calculate median income.
For this case, we will fill in the value manually with only the income type median and without reference to age group of the client.

In [119]:
df_no_mv.groupby('income_type')['total_income'].median()

income_type
business                       28138.8950
civil servant                  24387.3330
employee                       23126.2980
entrepreneur                   79866.0515
paternity / maternity leave     8612.6610
retiree                        19024.2765
student                        15712.2600
unemployed                     21014.3605
Name: total_income, dtype: float64

In [120]:
df['total_income'] = df['total_income'].fillna(value=79866)

In [121]:
#check that there are no missing values in the income column
df[fill_col].isna().sum()

0

Let's check that the total number of values in this column matches the number of values in other ones.

In [122]:
# Checking the number of entries in the columns
df['total_income'].count()

21331

In [123]:
df['age_group'].count()

21331

###  Restoring values in `days_employed`

In [68]:
# Distribution of `days_employed` medians based on your identified parameters
df_no_mv.groupby('income_type')['days_employed'].median()

income_type
business                         1555.947387
civil servant                    2689.137274
employee                         1572.328285
entrepreneur                      520.848083
paternity / maternity leave      3296.759962
retiree                        365286.622650
student                           578.751554
unemployed                     366413.652744
Name: days_employed, dtype: float64

In [69]:
df_no_mv.groupby('age_group')['days_employed'].median()

age_group
20s           1007.207074
30s           1601.919871
40s           2109.314691
50s           4823.464469
60s         354932.869424
70s         361336.993449
teenager       724.492610
Name: days_employed, dtype: float64

In [70]:
df_no_mv.groupby('education')['days_employed'].median()

education
bachelor's degree      1896.569279
graduate degree        5660.057032
primary education      3043.933615
secondary education    2392.941678
some college           1209.179228
Name: days_employed, dtype: float64

In [71]:
df_no_mv.groupby('income_type')['days_employed'].mean()

income_type
business                         2118.257358
civil servant                    3403.534603
employee                         2323.653522
entrepreneur                      520.848083
paternity / maternity leave      3296.759962
retiree                        365025.091981
student                           578.751554
unemployed                     366413.652744
Name: days_employed, dtype: float64

In [72]:
df_no_mv.groupby('age_group')['days_employed'].mean()

age_group
20s           1970.099128
30s           4168.767451
40s          13375.461164
50s         133225.884547
60s         283789.958296
70s         320819.151927
teenager       633.678086
Name: days_employed, dtype: float64

In [73]:
df_no_mv['days_employed'].describe()

count     19240.000000
mean      67027.691459
std      139130.846446
min          24.141633
25%         927.984311
50%        2195.251592
75%        5556.372075
max      401755.400475
Name: days_employed, dtype: float64

The factors which impacted the days employed the most were income type and age group.

I will use median in this analysis since there are outliers in the dataset - the distribution of days employed is right skewed.

In [74]:
# Let's write a function that calculates means or medians (depending on your decision) based on your identified parameter
def fill_missing_values(fill_col, fill_value, cat_1, cat_2):
    df[fill_col] = df[fill_col].fillna(df.groupby([cat_1 , cat_2])[fill_col].transform(fill_value))


fill_missing_values(fill_col='days_employed', fill_value='median', cat_1='income_type', cat_2='age_group')

In [75]:
# Check that the function works
fill_col = 'days_employed'
df[fill_col].isna().sum()

1

In [76]:
df[df[fill_col].isna()]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,age_group
5903,0,NaN,58.0,bachelor's degree,0,married,0,M,entrepreneur,0,79866.0,buy residential real estate,50s

Same client as before - we will fill in the value by looking only at the income type median.

In [77]:
df_no_mv.groupby('income_type')['days_employed'].median()

income_type
business                         1555.947387
civil servant                    2689.137274
employee                         1572.328285
entrepreneur                      520.848083
paternity / maternity leave      3296.759962
retiree                        365286.622650
student                           578.751554
unemployed                     366413.652744
Name: days_employed, dtype: float64

In [78]:
df['days_employed'] = df['days_employed'].fillna(value=520.85)

In [79]:
df[fill_col].isna().sum()

0

In [80]:
# Checking the number of entries in the columns
df['days_employed'].count()

21331

In [81]:
df['age_group'].count()

21331

## Categorization of data

To answer the questions and test the hypotheses, you will want to work with categorized data. 

Since education and status have an identifier column, let's try to see if we can categorize the loan purpose column.

In [82]:
# Print the values for your selected data for categorization
df['purpose']

0          purchase of the house
1                   car purchase
2          purchase of the house
3        supplementary education
4              to have a wedding
                  ...
21326       housing transactions
21327          purchase of a car
21328                   property
21329          buying my own car
21330               to buy a car
Name: purpose, Length: 21331, dtype: object

Let's check for unique values

In [83]:
df['purpose'].unique()

array(['purchase of the house', 'car purchase', 'supplementary education',
       'to have a wedding', 'housing transactions', 'education',
       'having a wedding', 'purchase of the house for my family',
       'buy real estate', 'buy commercial real estate',
       'buy residential real estate', 'construction of own property',
       'property', 'building a property', 'buying a second-hand car',
       'buying my own car', 'transactions with commercial real estate',
       'building a real estate', 'housing',
       'transactions with my real estate', 'cars', 'to become educated',
       'second-hand car purchase', 'getting an education', 'car',
       'wedding ceremony', 'to get a supplementary education',
       'purchase of my own house', 'real estate transactions',
       'getting higher education', 'to own a car', 'purchase of a car',
       'profile education', 'university education',
       'buying property for renting out', 'to buy a car',
       'housing renovation', 'going to university'], dtype=object)

The main groups which we can identify are:
1. House purchase
2. Car purchase
3. Education
4. wedding

Based on these themes, we will categorize our data.

In [84]:
# Let's write a function to categorize the data based on common topics
def purpose_categor(pur):
    if ('education' or 'educated' or 'university') in pur:
        return('Education')
    elif ('wedding') in pur:
        return ('wedding')
    elif ('car') in pur:
        return ('Car')   
    elif 'house' or 'housing' or 'real estate' or 'construction' or 'property' in pur:
        return ('Real estate')
    elif ('education' or 'educated' or 'university') in pur:
        return('Education')

In [85]:
# Create a column with the categories and count the values for them
df['purpose_categroy'] = df['purpose'].apply(purpose_categor)
df['purpose_categroy'].value_counts()

Real estate    11655
Car             4279
Education       3084
wedding         2313
Name: purpose_categroy, dtype: int64

Now, I would like to categorize the total_income by ranges.

In [86]:
# Looking through all the numerical data in your selected column for categorization
df['total_income']

0        40620.102
1        17932.802
2        23341.752
3        42820.568
4        25378.572
           ...
21326    35966.698
21327    24959.969
21328    14347.610
21329    39054.888
21330    13127.587
Name: total_income, Length: 21331, dtype: float64

In [87]:
# Getting summary statistics for the column
df['total_income'].describe()

count     21331.000000
mean      26465.050003
std       15732.435115
min        3306.762000
25%       17199.350500
50%       23158.689000
75%       31334.809500
max      362496.645000
Name: total_income, dtype: float64

# Total Income range
    <25th percentile >minimum - Q1
    <50th percentile (median) >25th percentile - Q2
    <75th percentile (median) >50 percentile - Q3
    >75th percentile <maximum - Q4

In [88]:
# Creating function for categorizing into different numerical groups based on ranges
# Let's write a function that calculates the age category
percentile_25 = df['total_income'].describe()['25%']
percentile_50 = df['total_income'].describe()['50%']
percentile_75 = df['total_income'].describe()['75%']
minimum = df['total_income'].describe()['min']
maximum = df['total_income'].describe()['max']

def total_income_category(income):
        if income < percentile_25:
            return ('Q1')
        elif percentile_25 <= income < percentile_50:
            return ('Q2')
        elif percentile_50 <= income < percentile_75:
            return ('Q3')
        elif income >= percentile_75:
            return ('Q4')

In [128]:
# Creating column with categories
df['income_group'] = df['total_income'].apply(total_income_category)

In [129]:
# Count each categories values to see the distribution
df['income_group'].value_counts()

Q3    5334
Q4    5333
Q1    5333
Q2    5331
Name: income_group, dtype: int64

Uniform distrubtion: Since these are quantiles, we have the same number (roughly) for each of the income groups (quartiles).

In [91]:
#checking 
df[['total_income','income_group']]

       total_income income_group
0         40620.102           Q4
1         17932.802           Q2
2         23341.752           Q3
3         42820.568           Q4
4         25378.572           Q3
...             ...          ...
21326     35966.698           Q4
21327     24959.969           Q3
21328     14347.610           Q1
21329     39054.888           Q4
21330     13127.587           Q1

[21331 rows x 2 columns]

#  6 Hypothesis

**Is there a correlation between having children and paying back on time?**

In [92]:
# Check the children data and paying back on time
df[['children','debt']]

# Calculating default-rate based on the number of children
df.groupby('children')['debt'].mean()*100

children
0    7.543822
1    9.234609
2    9.454191
3    8.181818
4    9.756098
5    0.000000
Name: debt, dtype: float64

**Conclusion**

Customers who have children tend to have a slighly higher debt rate than customers without children. Since the difference is small and we are not doing a statistical test, I would conclude that there is no distinct correaltion between children and paying back on time.

**Is there a correlation between family status and paying back on time?**

In [93]:
# Check the family status data and paying back on time
df[['family_status','debt']]

# Calculating default-rate based on family status
df.groupby('family_status')['debt'].mean()*100

family_status
civil partnership    9.313014
divorced             7.064760
married              7.560558
unmarried            9.763948
widow / widower      6.624606
Name: debt, dtype: float64

**Conclusion**

Customers who are in a civil partenership/unmarried tend to have a higher debt rate than customers who are divorced/married/widow(er). I would conclude that there is correaltion between family status and paying back on time (further statistical test is needed).

**Is there a correlation between income level and paying back on time?**

In [94]:
# Check the income level data and paying back on time
df[['income_group','debt']]

# Calculating default-rate based on income level
df.groupby('income_group')['debt'].mean()*100

income_group
Q1    8.006750
Q2    8.666292
Q3    8.661417
Q4    7.144197
Name: debt, dtype: float64

**Conclusion**

Customers whose income is in Q4 tend to have lower debt rate than customers in Q1-Q2-Q3. Since the difference is small and we are not doing a statistical test, I would conclude that there is no distinct correaltion between income level and paying back on time.

**How does credit purpose affect the default rate?**

In [95]:
# Check the percentages for default rate for each credit purpose and analyze them
df.groupby('purpose_categroy')['debt'].mean()*100

purpose_categroy
Car            9.347978
Education      9.306096
Real estate    7.395967
wedding        7.911803
Name: debt, dtype: float64

**Conclusion**

Customers whose purpose for taking a loan are car and education tend to have a higher debt rate than customers whose loan purposea are real estate and wedding . I would conclude that there is a correaltion between loan purpose and paying back on time (further statistical test is needed).

# General Conclusion 

1. Data exploration
    * No correlation found between missing values and other factors
2. Data transformation:
    * Typos fixed in education entries
    * Dropped rows with unfeasible number of children
    * Corrected days employed technical issue
    * filled in average age for age = 0 
    * Dropped duplicate values
3. Missing values:
    * income & days employed
        - Categorized age groups to decades
        - Found connections between variable of interests to client's age and income type
        - Filled missing values with average of income/days for age and income category
4. Data Catergoriztion:
    * Grouped purpose entries
    * Split income per quartiles
5. Hypothesis:
    * Is there a connection between having kids and repaying a loan on time?
    * Is there a connection between marital status and repaying a loan on time?
    * Is there a connection between income level and repaying a loan on time?
    * How do different loan purposes affect on-time loan repayment?
        - the differences were insignificant and therefore no is no evidence to conclude that there is a correlation between various factors and loan payment.